aiodns
aiohappyeyeballs
aiohttp
aiohttp-json-rpc
aiomysql
aiosignal
apsw
argcomplete
async-timeout
attrs
aubio
babel
Brotli
certifi
cffi
charset-normalizer
click
colorama
contextlib2
cryptography
decorator
Deprecated
discord
discord.py
dnspython
ffmpeg
ffmpeg-python
frozenlist
future
greenlet
httplint
idna
importlib_metadata
importlib_resources
Jinja2
Markdown
markdown-it-py
MarkupSafe
mdurl
multidict
mutagen
netaddr
numpy
orjson
packaging
pipx
platformdirs
propcache
psutil
pycares
pycparser
pydub
PyGithub
Pygments
PyJWT
PyMySQL
PyNaCl
python-dateutil
pytz
PyYAML
rapidfuzz
Red-Commons
Red-DiscordBot
Red-Lavalink
redbot
requests
rich
schema
six
soundfile
SQLAlchemy
thor
tomlkit
typing_extensions
urllib3
userpath
validators
wrapt
yarl
zipp
zstandard
